#about-video {
    padding-top: 4rem;
}


@media (max-width: 767.98px) {
    .text-sm-white {
        color: #FFF !important;
    }

    .text-sm-black {
        color: #000 !important;
    }

    #about .title {
        font-size: 10vw;
        color: white;
    }
    
    .light-year {
        font-size: 15vw;
        font-weight: 100;
        color: white;
    }

    .container {
        width: 100%;
    }

    .img-products {
        width: 300px;
    }

    .img-learnmore {
        width: 280px;
    }

    .img-detail {
        width: 250px;
    }
}



#products {
    background: linear-gradient(to bottom, #FFF 50%, #000 50%);
}

.footer-pages p {
    font-size: 18px;
}

/* .footer-first-row {
    padding-top: 48px;
} */

@media (min-width: 768px) {
    #products {
        background: linear-gradient(to left, #FFF 50%, #000 50%);
    }

    #about .title {
        font-size: 7vw;
        color: white;
    }
    
    .light-year {
        font-size: 10vw;
        font-weight: 100;
        color: white;
    }

    .container { 
        min-width: 80% !important;
    }

    .footer-pages {
        display: flex;
        justify-content: space-between;
    }

    .img-products,.img-learnmore {
        width: 500px;
    }

    .img-detail {
        width: 320px;
    }
}

