#about-video {
    padding-top: 4rem;
}


@media (max-width: 767.98px) {
    .text-sm-white {
        color: #FFF !important;
    }

    .text-sm-black {
        color: #000 !important;
    }

    #about .title {
        font-size: 10vw;
        color: white;
    }

    .light-year {
        font-size: 15vw;
        font-weight: 100;
        color: white;
    }
}

#products {
    background: linear-gradient(to bottom, #FFF 50%, #000 50%);
}

@media (min-width: 768px) {
    #products {
        background: linear-gradient(to left, #FFF 50%, #000 50%);
    }

    #about .title {
        font-size: 7vw;
        color: white;
    }

    .light-year {
        font-size: 10vw;
        font-weight: 100;
        color: white;
    }
}