/* common css */
.bg-black {
    background-color: #000 !important;
}

.product-background {
    background-image: url("https://lumicare.s3.ap-southeast-1.amazonaws.com/images/background/glow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dark-layer {
    background: rgba(0, 0, 0, 0.5);
}

.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.heading {
    font-size: 10vw;
}