/* section1 starts */

#section1 {
    padding-top: 15rem;
    padding-bottom: 10rem;
}

#section1 .title {
    font-size: 5vh;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #section1 .title {
        font-size: 10vh;
        font-weight: bold;
    }
}

#section1 .comment span {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    #section1 .comment span {
        font-size: 1rem;
    }
}

#section1 .comment-left {
    position: absolute;
    top: 40%;
    left: -15vw;
    z-index: 10;
}

#section1 .comment-left div {
    text-align: right;
    border-top: 0.5px solid #f8f9fa;
    margin-right: 35%;
    padding-top: 1rem;
}

#section1 .comment-right1 {
    position: absolute;
    top: 10%;
    right: -15vw;
    z-index: 10;
}

#section1 .comment-right1 div {
    text-align: left;
    border-top: 0.5px solid #f8f9fa;
    margin-left: 35%;
    padding-top: 1rem;
}

#section1 .comment-right2 {
    position: absolute;
    top: 70%;
    right: -15vw;
    z-index: 10;
}

#section1 .comment-right2 div {
    text-align: left;
    border-top: 0.5px solid #f8f9fa;
    margin-left: 35%;
    padding-top: 1rem;
}

@media (min-width: 1200px) {
    #section1 .comment-left div {
        margin-right: 0%;
        padding-right: 35%;
    }

    #section1 .comment-right1 div {
        margin-left: 0%;
        padding-left: 35%;
    }

    #section1 .comment-right2 div {
        margin-left: 0%;
        padding-left: 35%;
    }
}

/* section1 ends */

/* section2 starts */

#section2 {
    padding-top: 40rem;
    padding-bottom: 5rem;
}

#section2 .comment-container {
    border-top: 0.5px solid #f8f9fa;
    padding-top: 2rem;
}

#section2 .comment span {
    font-size: 1.5rem;
    font-weight: bold;
}

/* section2 ends */

/* section3 starts */

@media (min-width: 1200px) {
    #section3 {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

#section3 img {
    width: 400px;
}

#section3 .product-details {
    position: absolute;
    left: 450px;
    top: 30rem;
}

#section3 .product-details p.title {
    font-size: 1.5rem;
    font-weight: bold;
}

#section3 .product-details p.description {
    font-size: 1rem;
}

/* section3 ends */

/* section4 starts */
#section4 .title {
    font-size: 5vh;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #section4 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #section4 .title {
        font-size: 7vh;
        font-weight: bold;
    }
}

#section4 .container-fluid .col-11 {
    border-top: 0.5px solid #f8f9fa;
}

/*#section4 .font-weight-bold.text-white {
    font-size: 1.5rem;
}*/

/* section4 ends */

/* section5 starts */

#section5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#section5 .title {
    font-size: 5vh;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #section5 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #section5 .title {
        font-size: 7vh;
        font-weight: bold;
    }
}

#section5 .text-light {
    font-size: 0.9rem;
}

/* section5 ends */

/* section6 starts */
#section6 .title {
    font-size: 5vh;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #section6 .title {
        font-size: 7vh;
        font-weight: bold;
    }
}

@media (max-width: 575.98px) {
    .fa-xs-sm {
        font-size: 1em !important;
    }
}

/* section6 ends */

/* section7 starts */

#section7 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#section7 .title {
    font-size: 5vh;
    font-weight: bold;
}

@media (min-width: 1200px) {
    #section7 .title {
        font-size: 7vh;
        font-weight: bold;
    }

    #section7 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

#section7 .table {
    border-top: 2px solid black;
}

#section7 .table div {
    padding-left: 0px;
    padding-right: 0px;
}

/* section7 ends */

/* section8 starts */

#section8 {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

#section8 .title {
    font-size: 7vh;
    font-weight: bold;
}


/* section8 ends */