/* common css */
body {
    font-family: "Open Sans", sans-serif;
}

.bg-black {
    background-color: #000 !important;
}

@media (min-width: 992px) {
    .h-lg-100 {
        height: 100% !important;
    }
}

.gradient-text {
    background: linear-gradient(to right, #db629c 30%, #2721b8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-light {
    background: linear-gradient(to right, #db629c 0%, #db629c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-glow {
    color: #fff;
    text-shadow: 1px 1px 5px #fff;
}

/* header start */

.navbar,
#navbar-area {
    background-color: rgb(0, 0, 0);
}

nav ul {
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-between;
}

/* header end */

/*button effect start*/
.button-gra {
    min-width: 300px;
    padding: 18px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 13px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.button-gra:before,
.button-gra:after {
    content: " ";
    position: absolute;
    border-radius: 99px;
}

.button-gra:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: -moz-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background:
        -webkit-gradient(linear,
        left top,
        right top,
        color-stop(0%, #db629c),
        color-stop(100%, #2721b8));
    background: -webkit-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: -o-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: -ms-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: linear-gradient(to right, #db629c 0%, #2721b8 100%);
}

.button-gra:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: #43464a;
    z-index: -1;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.button-gra:hover:after {
    opacity: 0;
}

.button-gra-inv {
    min-width: 300px;
    padding: 18px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 99px;
    color: #43464a;
    font-weight: bold;
    position: relative;
    z-index: 1;
    padding: 13px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.button-gra-inv:before,
.button-gra-inv:after {
    content: " ";
    position: absolute;
    border-radius: 99px;
}

.button-gra-inv:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: -moz-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(0%, #db629c),
        color-stop(100%, #2721b8));
    background: -webkit-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: -o-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: -ms-linear-gradient(right, #db629c 0%, #2721b8 100%);
    background: linear-gradient(to right, #db629c 0%, #2721b8 100%);
}

.button-gra-inv:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: white;
    z-index: -1;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.button-gra-inv:hover:after {
    opacity: 0;
}

/*button effect end*/

@media (min-width: 768px) {
    .container { 
        min-width: 80% !important;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 100%;
    }
}

/* Footer start */

.footer-pages p {
    font-size: 18px;
}

.footer-pages {
    display: flex;
    justify-content: space-between;
}

/* Footer end */