/* common css */
body {
    font-family: "Times New Roman", Times, serif;
}

.bg-black {
    background-color: #000 !important;
}

/*home page*/
.dropdown-menu {
    margin-right: -1000px;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 1 rem;
    border-top: 1px solid white;
}

.dropdown-menu>li {
    display: inline-block;
}

#about .title {
    font-size: 8rem;
    font-weight: bold;
    color: #FFF;
}

#products {
    background: linear-gradient(to left, #FFF 50%, #000 50%);
}