/* common css */
body {
    font-family: "Times New Roman", Times, serif;
}

.bg-black {
    background-color: #000 !important;
}

@media (max-width: 767.98px) {
    .text-sm-white {
        color: #FFF !important;
    }

    .text-sm-black {
        color: #000 !important;
    }
}

#about .title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}

#products {
    background: linear-gradient(to bottom, #FFF 50%, #000 50%);
}

@media (min-width: 768px) {
    #about .title {
        font-size: 8rem;
    }

    #products {
        background: linear-gradient(to left, #FFF 50%, #000 50%);
    }
}